body {
  background: #a0d1ef;
}

.AppComponent {
  align-items: center;
  .entry-info {
    align-items: center;
    display: flex;
    flex-direction: column
  }
  input {
    margin: 5px
  }
  h1 {
    text-align: center;
    display: block;
  }
  .delete-button {
    margin: 5px;
  }
}

.ListComponent {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
  .todo-edit {
    .cancel-icon {
      color: #b70b2a;
    }
    .cancel-icon:hover {
      cursor: pointer;
    }
  }
  .list-group-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0;
    margin: 5px;

    .todo-item {
      display: inline-block;
    }
    .todo-text {
      flex-grow: 10;
    }
    .option-buttons {
      float: right;
      margin-right: 0;
      flex-grow: 1;
      .delete-icon {
        margin-left: 5px;
      }
      .edit-icon {
        color: #e5e830;
      }
      .delete-icon:hover, .edit-icon:hover {
        cursor: pointer;
      }
    }
  }




}
