.App {
  text-align: center;
  padding: 5%;
}

body {
  background: #6fa3f7;
  color: #fff;
}

.SearchedArtist {

  padding: 2px 5px 2px 5px;
  
  .imageDiv {
    text-align: left;
  }
  img {
    height: 300px;
    width: 300px;
    margin-left: 0;
  }
  .genreList, p, h4 {
    text-align: left;
  }
}
